<section class="form-page">
  <div class="nav-container">
    <nav class="nav-bar">
      <%= link_to 'Profile', user_path(current_user.id), class: 'nav-link'%>
      <%= link_to  @group.name, group_path(@group.id), class: 'nav-link'%>
      <%= link_to 'Back', groups_path, class: 'nav-link'%>
    </nav>
  </div>

  <div class="d-flex justify-between group-card">
    <div class="d-flex">
      <div>
        <%= group_image(@group) %>
      </div>
      <div class="d-flex flex-column justify-between pl-1">
        <p><%= truncate(@group.name, :length => 25)  %></p>
        <p class="date"><%= @group.created_at.strftime("%d %b %Y") %></p>
      </div>
    </div>
    <div class="d-flex flex-column justify-between">
      <p class="color-green align-right">Earned: $<%= number_with_delimiter(@group.grouped_transactions.group_earned(current_user.id), :delimiter => ',') %></p>
      <p class="color-red align-right">Spent: $<%= number_with_delimiter(@group.grouped_transactions.group_spent(current_user.id), :delimiter => ',') %></p>
    </div>
  </div>

  <div class="new-item">
    <%= link_to 'EDIT GROUP', edit_group_path(@group), class: "new-item-btn"%>
  </div>

  <div class="delete-item">
    <%= link_to 'DELETE GROUP', @group, method: :delete, data: { confirm: 'Are you sure you want to delete?' }, class: "new-item-btn" %>
  </div>
</section>




  